<div class="row">
    <div class="wAbout col-lg-6 col-md-12 col-sm-12">
        <div class="aboutBox">
            <img src="assets/img/about-img.svg" class="img-fluid">
        </div>
    </div>
    <div class="wAbout col-lg-6 col-md-12 col-sm-12">
        <div class="aboutBnox2">
            <p>
                A guy , who is passionate about <span>programming, </span> a <span>self-learner </span> and a <span>part-time stock trader.</span> Always love to learn & explore new technologies.
            </p>

            <hr>

            <div class="downloadBox mt-4">
                <div class="DTEXT">
                    Wanna Know More About Me?
                </div>
                <div class="cv">
                    <a href="assets/pdf/arijitmaiti-web-developer.pdf" download="Arijit_CV">
                        <button class="downloadBtn">
                            <span>Download CV</span>
                            <img src="assets/img/download.png">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>