.WBox{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Workflow{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.Workflow ul{
    list-style: none;
}

.Workflow ul li{
    padding: 20px;
    background-color: rgb(227, 245, 250);
    margin-bottom: 20px;
    border-radius: 15px;
}

.Workflow ul li:last-child{
    margin-bottom: 0;
}


@media only screen and (min-width: 790px) {
    .Workflow::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color:rgb(187, 150, 212);
        left: 52%;
        transform: translateX(-52%);
    }
    .Workflow ul li{
        width: 50%;
        position: relative;
    }   
    .Workflow ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-20px);
        border-radius: 15px 0 15px 15px;
    }
    .Workflow ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(20px);
        border-radius: 0 15px 15px 15px;
    }
    .Workflow ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: rgb(7, 82, 100);
        border-radius: 50%;
        top: 0;
    }
    .Workflow ul li:nth-child(odd)::after{
        right: -20px;
        transform: translate(50% , -50%);
    }
    .Workflow ul li:nth-child(even)::after{
        left: -20px;
        transform: translate(-50% , -50%);
    }
    .Workflow ul li:hover::after{
        background-color: rgb(211, 117, 248);
        cursor: pointer;
    }

}