<app-fromhome>
    <label name for="validationDefault02" class="contact-label">Name</label>
    <input type="text" name class="form-control" id="validationDefault02" placeholder="Arijit Maiti">

    <label lastName for="validationDefault02" class="contact-label">Email</label>
    <input type="text" lastName class="form-control" id="validationDefault02" placeholder="xyz@gmail.com">

    <label for="validationDefault02" phoneNumber class="form-label">Phone Number</label>
    <input type="text" phoneNumber class="form-control" id="validationDefault02" placeholder="+91 12345 67890">
    
    <label for="floatingTextarea2" msg>Message</label>
    <textarea class="form-control" msg placeholder="Write your queries..." id="floatingTextarea2" style="height: 150px"></textarea>

    <button class="btns" submitButton>Submit</button>
</app-fromhome>
