.contact-label{
    color: rgb(21, 89, 147);
}
.text-red{
    color: red;
}
.errormsg{
    font-size: 14px;
}
.text-green{
    color: rgb(13, 146, 13);
    font-size: 20px;
    font-weight: bold;
}
.leftLtr{
    font-size: 14px;
    position: relative;
    bottom: 1.8rem;
    left: .6rem;
    color: #556260;
}