<div class="text-center">
  <ng-content select="[topText]"></ng-content>
  <ng-content select="[succesText]"></ng-content>
</div>
<form class="row mt-4">
  <div class="col-lg-3 col-md-2 col-sm-12"></div>
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div class="col-md-12 from-cust-gap mb-3">
      <ng-content select="[name]"></ng-content>
    </div>
    <div class="col-md-12 from-cust-gap mb-3">
      <ng-content select="[lastName]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[userName]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[phoneNumber]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[msg]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[seclectboxProject]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[slctBoxTech]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[PriceRange]"></ng-content>
    </div>
    <div class="col-md-12 mb-3">
      <ng-content select="[texBox]"></ng-content>
    </div>
    <div class="col-12 mb-3">
      <ng-content select="[AgreeTerm]"></ng-content>
    </div>
    <ng-content select="[bottomText]"></ng-content>
    <div class="col-12 mb-4 text-center">
      <ng-content select="[submitButton]"></ng-content>
    </div>
    <ng-content select="[succesTextHire]"></ng-content>

  </div>
  <div class="col-lg-3 col-md-2 col-sm-12"></div>
</form>