<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="profile-img">
                <img src="../../assets/img/profilepic.jpg" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-center changingText mb-4">
                <p class="mt-2 mb-2">{{ changText }}</p>
            </div>
            <div class="intro text-center">
                <p class="p1">"SOFTWARE IS LIKE SEX; IT'S BETTER WHEN IT'S FREE"</p>
               <p class="m-0 p-0">But the DEVELOPERS' not! </p>
               <p class="m-0 p-0">If you wanna get your job done in a fair price , I'm the guy you're looking for. Just tell your requirements briefly , I'm here with my team to hear you. Can't wait to put your buisness on next level with my <span><a routerLink="/services" class="sidbarLinksRoute" routerLinkActive="active">Services</a></span>.</p>
            </div>
        </div>
    </div>
</div>
